@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffcb20;
}

header {
    transition: transform 0.3s ease;
    background-color: #ffffff;
    color: rgb(39, 39, 39);
    padding: 10px 0;
    text-align: center;
    margin-bottom: 2%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.436);
}

h1{
    transition: transform 0.3s ease;
    color: #940000;
    font-weight: 900;
    font-size: 35px;
    text-shadow: #ffcb20 3px 0px 3px;
}

nav ul {
    transition: transform 0.3s ease;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    transition: transform 0.3s ease;
    display: inline;
    margin: 0 15px;
}

li {
    transition: transform 0.3s ease;
    display: inline;
    margin: 0 15px;
}

nav a {
    transition: transform 0.3s ease;
    color: rgb(39, 39, 39);
    text-decoration: none;
}

main {
    transition: transform 0.3s ease;
    padding: 20px;
}

/* Page Container */
.container {
    transition: transform 0.3s ease;
    text-align: center;
    padding: 20px;
}

/* Heading Styling */
h2 {
    transition: transform 0.3s ease;
    color: #00004d;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Grid Layout */
.grid-container {
    transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Card Styling */
.card {
    transition: transform 0.3s ease;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Card Image */
.card img {
    transition: transform 0.3s ease;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Card Title */
.card h2 {
    transition: transform 0.3s ease;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Card Description */
.card p {
    transition: transform 0.3s ease;
    font-size: 1em;
    color: #666;
}

nav ul {
    transition: transform 0.3s ease;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    transition: transform 0.3s ease;
    display: inline;
    margin: 0 15px;
}

li {
    transition: transform 0.3s ease;
    display: inline;
    margin: 0 15px;
}


.flex_container{
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.footer{
    transition: transform 0.3s ease;
    height: 200px;
    margin-bottom: 0px;
}

.footer nav{
    transition: transform 0.3s ease;
    margin-top: 1%;
}